# Ignore environment variables
.env.local

# .next build output
.next

# node_modules
node_modules

# Claude files
.claude

# .zshrc
.zshrc

# index.html
index.html

# AI Engineering Bootcamp files
reference

# macOS system files
.DS_Store